/* 회원가입 폼 스타일 */
.signup-form {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: left; 
}

/* 입력 필드 레이블 */
.signup-form label {
  font-size: 14px;
  color: #333;
  display: block;
  margin: 10px 0 5px;
}

/* 입력 필드 스타일 */
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="text"],
.signup-form input[type="date"],
.signup-form select {
  width: 93%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;

}

.signup-form input[type="email"]:focus,
.signup-form input[type="password"]:focus,
.signup-form input[type="text"]:focus,
.signup-form input[type="date"]:focus,
.signup-form select:focus {
  background-color: #e6f7ff;
  border-color: #66ccff;
}

/* 플레이스홀더 스타일 */
.signup-form input::placeholder {
  color: #aaa;
  font-style: italic;
}

/* 버튼 스타일 */
.signup-form button {
  width: 100%;
  padding: 12px;
  background-color: #d25d8a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #f8c8d7;
}


/* 오류 메시지 스타일 */
.signup-form p {
  color: #f44336;
  font-size: 12px;
  margin: -10px 0 10px;
}


.signup-title {
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signup-form .verification-button{
  background-color: #545151;  /* 회색 */
}

.signup-form .signup-submit-button {
  width: 100%;
  padding: 12px;
  background-color: #dcdcdc;  /* 회색 */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: not-allowed;  /* 비활성화된 상태 */
  transition: background-color 0.3s ease;
}

/* 버튼 활성화 스타일 */
.signup-form .signup-submit-button.active {
  background-color: #d25d8a;  /* 핑크 */
  cursor: pointer;  /* 활성화되었을 때 커서 변경 */
}

/* 버튼에 호버 효과 */
.signup-form .signup-submit-button:hover {
  background-color: #f8c8d7;
}

/* 인증 버튼 비활성화 상태 */
.signup-form .signup-submit-button:disabled {
  cursor: not-allowed;
}