<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsingnal.dao.iDao">

	<select id="showResume" resultType="com.wsingnal.dto.UserResumeDto">
		SELECT ur.resume_id, ur.mbti, ur.region, ur.height, ur.birthdate,
		ur.introduction,ur.photo1, ur.photo2, ur.created_at, ur.updated_at
		FROM user_resume ur
		JOIN users u ON ur.user_id = u.id
		WHERE u.email = #{EMAIL}
	</select>

</mapper>